.create-container{
    color: #fff;
    background-color: rgb(81, 81, 81);
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}